<footer class='footer bg-light mt-auto'>
		<div class='container'>
			<div class='row justify-content-center'>
				<div class='col-12 col-md-6 d-flex-column justify-content-center align-items-center'>
					<h5 class='text-center'>Contact Us</h5>
					<ul class='list-unstyled text-center me-auto'>
						<li class="nav-item active">
							<a href='tel:1-800-555-5555'><i class='fa-solid fa-phone pe-1'></i>1-800-555-5555</a>
						</li>
						<li class="nav-item active">
							<a href='mailto: email@mail.com'><i class='fa-solid fa-envelope pe-1'></i> mail@kurstieskookies.com
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
</footer>