<div class="cards">
        <div class="cookie">
            <div class="card-img"></div>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <button id="add">Add to cart</button>
        </div>