<div class=>
    <div class="d-flex flex-column align-items-center mb-3">
        <h1 class='text-center p-3'>Shopping Cart</h1>
        {{#if renderedCartItems}}
        <div class="d-flex ">
            <ul class="list-group">
                <li class="list-group-item">Total (with tax): ${{cartTotal}}</li>
                <li class="list-group-item text-center"><a href="http://www.stripe.com"><button class="btn btn-primary"
                            id="checkoutBtn">Checkout</button></a></li>
            </ul>
        </div>
        {{/if}}
    </div>
    <div class="d-flex flex-wrap justify-content-around">
        {{#if renderedCartItems}}
        <div class="row col products">
            {{#each renderedCartItems as |item|}}
            {{> cart-item-details }}
            {{/each}}
        </div>
        {{else}}
        <div class="text-center">
            <h2>Your cart is empty</h2>
            <a href="/products" class="btn btn-outline-dark">Go to products</a>
        </div>
        {{/if}}
    </div>
    {{> cart-delete-modal}}
</div>