<h1 class="text-center">Shopping Cart</h1>
<div class="row">
    <h3 class="text-center col">Total (with tax): ${{calculate_order_total renderedCartItems}}</h3>
    <div class="text-center">
        <button class="btn btn-primary col" id="checkoutBtn">Checkout</button>
    </div>
</div>

<div class="row justify-content-center pt-3">
        {{#if renderedCartItems}}
        <div class="row col products justify-content-around align-items-center">
            {{#each renderedCartItems as |item|}}
            {{> cart-item-details }}
            {{/each}}
        </div>
        {{else}}
        <div class="text-center">
            <h2>Your cart is empty</h2>
            <a href="/products" class="btn btn-primary">Go to products</a>
        </div>
        {{/if}} 
</div>
