<section>
    <h2 class='text-center'>Featured Products</h2>
</section>
<section class="container">
    <div class="row row-cols-auto products">
        {{#each products as |product|}}
            {{> product-details}}
        {{/each}}
    </div>
    <div>{{userId}}</div>
</section>

