<div>
    <h2 class='text-center p-3'>Shop All of Our Products!</h2>
</div>
<section class="container ">
    <div class="row products justify-content-center align-items-center">
        {{#each products as |product|}}
            {{> product-details}}
        {{/each}}
    </div>
</section>