

a {
	text-decoration: none;
	color: black;
}


a:hover {
	text-decoration: none;
	color: grey;
}



.homepage {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.productImage:hover {
	background-color: black;
	opacity: 0.5;
}

.checkout-list {
	max-height: 25%;
}

.cookie-img {
	border: solid 0.5px black;
	border-radius: 2%;
}

.carousel {
	width: 100%;
}

.carousel-title,
.carousel-text {
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
#logOutModalBody {
	display: none;
}

@media screen and (max-width: 640px) {
	.hiddenDiv {
		display: none;
	}
	.sign-up-form {
		width: 100%;
	}
}
