body {
	background-color: #FAF9F6;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: grey;
}

.productImage:hover {
	background-color: black;
	opacity: 0.5;
}

.checkout-list {
	max-height: 25%;
}

.cookie-img {
	border: solid 0.5px black;
	border-radius: 2%;
}

.carousel {
	width: 100%;
}

.carousel-title,
.carousel-text {
	color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
#logOutModalBody {
	display: none;
}

@media screen and (max-width: 640px) {
	.hiddenDiv {
		display: none;
	}
	.sign-up-form {
		width: 100%;
	}
}

