<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Kursties Kookies</title>
</head>

<body>
    <header>
        <h1>Welcome to Kursties Kookies</h1>
    </header>
    <nav>
            <ul>
                <li><a href="#">shopping cart</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#"></a>login</li>
            </ul>
    </nav>
    <main>
        <aside>
            <h2>Checkout these Goodies!</h2>
        </aside>

        <div class="products">
            {{{body}}}
        </div>
    </main>
</body>

</html>